div[id^='ra_forcems'] div[data-component="splunk-core:/splunkjs/mvc/components/MultiDropdown"]{
               width:auto !important;
             }
            div[id^='ra_forcems'] div[data-view="splunkjs/mvc/multidropdownview"]{
               width:auto !important;
               margin-right: auto !important;
             }
               .fieldset .input{
               width:auto !important;
             }

div.splunk-multidropdown button,div.splunk-dropdown button,div[role='listbox'] button {
font-size: 12px !important;
}
